body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border: dashed 1px red;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.header {
  display: flex;
  justify-content: space-between;
  border: dashed 1px red;
}

.logo,
.menu {
  display: inline-block;
  border: dashed 1px red;
}
.logo {
  margin-right: 63%;
  padding: 40px 0;
  font-family: 'PT Serif', serif;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}

.menu__item:last-child {
  padding-right: 0;
}

.main {
  border: dashed 1px red;
}
.main__title {
  font-family: 'PT Serif', serif;
}
.main__button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 4px;
  background: #0056EC;
}
